<form class="micropub" action="/micropub" method="POST">
    <p> <input type="text" name="username" id="username" required="true" placeholder="Username"> </p>
    <p> <textarea name="body" id="body" required="true" placeholder="What do you want to write about?"></textarea> </p>
    <p>
        <button id="publish" type="submit">Micropublish</button>
    </p>
</form>

<a href="/micropubs" class="back-home">Back to home page</a>